.content {
    grid-area: c;
    background-color: rgb(23, 240, 167);

}

.content img {
    width: auto;
    height: 300px;
}

.avadog img {
    width: 80px;
    height: 80px;
    margin-left: 5px;
}

.avadog {
    padding-bottom: 20px;

}